{% extends 'book/homepage.html' %}
{% load static %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'book/css/auth.css' %}">
    {% endblock %}

{% block content %}


<form action="" method="post" >
    <div class="con">
        <h1>{{title}}</h1>
        <br>
        <p>{{description}}</p>
        <hr>
        {% csrf_token %}
        
            <div class="form-error">{{form.non_field_errors}}</div>

        {% for f in form %}
    
        <div class="form-error">{{f.errors}}</div>
            <p><label class="form-label" for="{{f.id_for_label}}"><b>{{f.label}}</b></label>{{f}}</p>
        {% endfor %}
        <!-- <hr>
        {% if title == 'Регистрация' %}
        <p>Создавая аккаунт, вы соглашаетесь с нашими <a href="#">Условиями и конфиденциальностью</a>.</p>
        {% else %}
        <p>Вы забыли пароль? <a href="#">Сброс пароля</a>.</p>
        {% endif %} -->
        <button type="submit" class="btn" >{{ title }}</button>
    </div>
    <!-- <div class="con signin">
        {% if title == 'Регистрация' %}
        <p>У вас уже есть аккаунт? <a href="{% url 'login' %}">Войти</a>.</p>
        {% else %}
        <p>У вас нет аккаунт? <a href="{% url 'register' %}">Регистрация</a>.</p>
        {% endif %}
    </div> -->
</form>

{% endblock %}