{% extends 'book/homepage.html' %}
{% load static %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'book/css/book.css' %}">
    {% endblock %}
{% block content %}
    <div class="card_detail">
        <div class="book_img">
            <img src='{{book.image.url}}'>
                <a target="_blank" href='{% url "dow" book.id "read" %}' ><button class="btn button" name='read' type="submit" >Читать</button></a>
                <a target="_blank" href='{% url "dow" book.id "dow" %}' ><button class="btn button" name='dow' type="submit">Скачать</button></a>
        </div>
        <div class="book_text">
            <h1>{{book.title}}</h1>
            {{book.description|linebreaks}}
        </div>
    </div>
    
{% endblock %}