{% load static %}
{% load book %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'book/css/style.css' %}">
    {% block css %}

    {% endblock %}
</head>
<body>

    {% block navbar  %}
        <header >
            <div class="container">
                <div class="nav">
                    {% for m in menu %}
                        {% if title == m.title %}
                            <a class='a-nav active' href="{% url m.url_name %}">{{m.title}}</a>
                        {% else %}
                            <a class='a-nav' href="{% url m.url_name %}">{{m.title}}</a>
                        {% endif %}
                    {% endfor %}
                    {% if request.user.is_staff == True %}
                        <a class='a-nav' href="{% url 'admin:index' %}">Админ панель</a>
                    {% endif %}
                    <div>
                        <a href="{% url 'login' %}"><button class='button-green' >Войти</button></a>
                        <a href="{% url 'register' %}"><button class='button-green' >Регистрация</button></a>
                    </div>
                    <button class='button-green' id="myBtn">Поиск</button>
                </div>
            </div>
        </header>


        <div id="myModal" class="modal">
            <div class="modal-content">
                <form action="{% url 'search_book' %}" class="search-form">
                    <input class="search" type='text', name="key" placeholder='Введите текст'>
                    <button type="submit">Поиск</button>
                </form>
                <span class="close">&times;</span>
            </div>
        </div>

    {% endblock  %}




    <div class="container">
        <div class = 'pos_content'>
            {% block sidebar %}
                <aside>
                    {% if cat_selected == 0 %}
                        <span class='active'>Все категории</span>
                    {% else %}
                        <a href="{% url 'index' %}">Все категории</a>
                    {% endif %}

                    {% for cat in cats %}
                        {% if cat_selected == cat.pk %}
                            <span class='active'>{{cat.title}}</span>
                        {% else %}
                            <a href="{{cat.get_absolute_url}}"> {{cat.title}} </a>
                        {% endif %}
                    {% endfor %}
                </aside>
            {% endblock sidebar %}
        </div>


        <div class="mar_content">
            {% block content %}
        
            {% endblock %}
        </div>
    </div>



    <script src="{% static 'book/js/style.js' %}"></script>
</body>
</html>