* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #eee;
}
.carousel-item {
	padding: 50px 100px;
	position: relative;
}
.contentpdf p {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-style: normal;
	font-size: 1rem;
}
.carousel-control-next-icon {
	background-image: url(/media/pngwing.png)!important;
}
.carousel-control-prev-icon {
	background-image: url(/media/pngwing.png)!important;
	transform: rotate(180deg);
}
.carousel-control-prev-icon, .carousel-control-next-icon {
	position: absolute;
	top: 400px;

}
