<header >
  <div class="container">
    <div class="nav">
      {% for m in menu %}
        {% if title == m.title %}
          <a class='active' href="{% url m.url_name %}">{{m.title}}</a>
        {% else %}
          <a class='' href="{% url m.url_name %}">{{m.title}}</a>
        {% endif %}
      {% endfor %}
      
      <form action="{% url 'search_book' %}" class="search-form">
        <button type="submit">Поиск</button>
        <input class="search" type='text', name="key" placeholder='Введите текст'>
      </form>
      
    </div>
  </div>
</header>