<aside>
        {% if cat_selected == 0 %}
                <span class='active'>Все категории</span>
            {% else %}
                <a href="{% url 'index' %}">
                    Все категории
                </a>
            {% endif %}
        {% for cat in cats %}
            {% if cat_selected == cat.pk %}
                <span class='active'>{{cat.title}}</span>
            {% else %}
                <a href="{{cat.get_absolute_url}}">
                    {{cat.title}}
                </a>
            {% endif %}
        {% endfor %}
</aside>