{% extends 'book/show/show.html' %}




{% block content %}
    <div class='row'>
        <div class="book_img col-l-6 col-p-12">
            <img src='{{book.image.url}}'>
            <div style='display:flex'>
                <a target="_blank" href='{% url "dow" book.id "read" %}' ><button class="btn button" name='read' type="submit" >Читать</button></a>
                <a target="_blank" href='{% url "dow" book.id "dow" %}' ><button class="btn button" name='dow' type="submit">Скачать</button></a>
            </div>
        </div>
        <div class='col-l-6'>
            <h1 class='title'>{{book.title}}</h1>
            <br>
            <ul class='info'>
                <li><b>Автор:</b> <a href='{{book.author.get_absolute_url}}'>{{book.author.name}}</a></li>
                <li><b>Дата написания:</b> {{ book.date_issue }}</li>
                <li><b>Дата поступления:</b> {{ book.create }}</li>
            </ul>
            <br>
            {{book.description|linebreaks}}
        </div>
    </div>
{% endblock %}