{% extends 'book/homepage.html' %}
{% load static %}

{% block title %}
<title>{{ title }}</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'book/css/show.css' %}">
{% endblock css %}

{% block include %}
<ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Главная</a></li>
    {% block href %}
    <li><a href="{% url 'category_book_index' cat_slug=book.category.first.slug %}">{{ book.category.first.title }}</a></li>
    <li>{{ book.title }}</li>
    {% endblock href %}
</ul>
{% endblock include %}
