{% extends 'homepage.html' %}
{% load static %}
{% load poll_extras %}
{% block content %}
<body style="background-color: black;">
  {% include 'include/header.html' %}
  <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="display: inline-block!important; width: 280px; margin-top: 60px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Катигории</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      {% for cat in category %}
      <li class="nav-item">
        <a href="#" class="nav-link text-white" aria-current="page">
          {% comment %} {% autoescape on %} {% endcomment %}
          {% comment %} {% include_anything '{{cat.icon}}' %} + {% endcomment %}
          {{ cat.title }}
          {% comment %} {% endautoescape %} {% endcomment %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="b-example-divider b-example-vr"></div>
  <!-- <section class="lib-categories-section">
    <div class="container">
      {% for book in books %}
        <div class="card" style="width: 18rem; margin-left: 10px; margin-top: 10px;">
          <img src="{{book.image.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{book.title}}</h5>
            <p class="card-text">{{ book.description|truncatewords:10 }}</p>
            <a href="{% url 'book_read' book.id %}" class="btn btn-primary">Читать</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </section> -->

  {% endblock %}