.card_detail {
    display: flex;
}

.book_img {
    margin-top: 10px;
    width: 350px;
}

.book_img img {
    width: 300px;
    height: 450px;
}

.book_text {
    width: 50%;
    padding-left: 10px;
}

.book_text p {
    margin-top: 10px;
}

.form {
    display: flex;
    justify-content: center;
}

.button {
    width: 100px !important;
    margin-left: 10px;
}


/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    margin-left: 140px;
}

/* Display list items side by side */
ul.breadcrumb li {
display: inline;
font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
padding: 8px;
color: black;
content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
color: #4CAF50;
text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
color: #077e01;
text-decoration: underline;
}

.info {
    list-style-type: none;
}