
aside {
    padding: 5px;
    background-color: rgb(229 229 229);
    top: 0;
    position: absolute;
    left: -30px;
}

#sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

#sidebar a,span {
    display: block;
    color:black;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}