* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}

.navbar {
    background-color: #111;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.navbar-nav {
  width: 100%;
}

.menu {
   margin-left: 50px;
   width: 100%;
}

.container-fluid {
    display: flex;
    padding: 10px;
}

.nav-link {
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    color: #4CAF50;
}


.sidebar {
    list-style: none;
}

.link-sidebar {
    padding: 10px;
    border-bottom: outset #4caf4f80 ;
    overflow: hidden;

}

.link-sidebar:hover {
    border-color: #4CAF50;
}

.link-sidebar a {
    color: black;
    text-decoration: none;
    
}


.btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity:1;
}

.button-green {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #4CAF50;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: white;
}








  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }



  /* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
.menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 5px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
display: block;
position: absolute;
width: 100%;
height: 2px;
background-color: #616161;
}
.menu__btn > span::before {
content: '';
top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}


  /* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition: all .6s ease-in-out;
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
/* 

new

*/

#menu__toggle2:checked ~ .menu__btn2 > span {
    transform: rotate(45deg);
  }
  #menu__toggle2:checked ~ .menu__btn2 > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle2:checked ~ .menu__btn2 > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle2:checked ~ .menu__box2 {
    visibility: visible;
    right: 0;
  }



  /* скрываем чекбокс */
#menu__toggle2 {
    opacity: 0;
  }
  /* стилизуем кнопку */
.menu__btn2 {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 5px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn2 > span,
.menu__btn2 > span::before,
.menu__btn2 > span::after {
display: block;
position: absolute;
width: 3px;
height: 3px;
background-color: #616161;
}
.menu__btn2 > span::before {
content: '';
top: -8px;
}
.menu__btn2 > span::after {
    content: '';
    top: 8px;
}


  /* контейнер меню */
.menu__box2 {
    display: grid;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition: all .4s ease-in-out;
  }
  /* элементы меню */
  .menu-link {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }