* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}

.navbar {
    background-color: #111;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.navbar-nav {
  width: 100%;
}

.menu {
   width: 100%;
}

.container-fluid {
    display: flex;
    padding: 10px;
}

.nav-link {
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    color: #4CAF50;
}


.sidebar {
    list-style: none;
}

.link-sidebar {
    padding: 10px;
    border-bottom: outset #4caf4f80 ;
    overflow: hidden;

}

.link-sidebar:hover {
    border-color: #4CAF50;
}

.link-sidebar a {
    color: black;
    text-decoration: none;
    
}


.btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity:1;
}

.button-green {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #4CAF50;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: white;
}














#page0 {
  height: auto !important;
  width: 620px !important;
  margin: auto;
}

#page0 p {
  width: auto;

}

/* #page0 span {
  font-size: large !important;
} */

.paginator {
  bottom: 0;
  list-style-type: none;
  position: fixed;
  width: 100%;
  display: none;
  justify-content: space-around;
}

.con_paginator {
  bottom: 0;
  position: fixed;
  width: 100%;
  display: block;
  height: 34px;

}
.con_paginator:hover .paginator{
  display:flex;
  background-color: rgba(0, 0, 0, 0.548);

}

.paginator li {
  float: left;
  margin-top: 10px;

}

.paginator a, .current {
  color: white;
  text-decoration: none;
}

.paginator a:hover {
  color: black;
}


.burger-menu {
  display: none;
}

.burger-menu.show {
  display: block;
}

.burger-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.burger-menu li {
  margin-bottom: 10px;
}

.burger-menu a {
  color: #fff;
  text-decoration: none;
}


.burger-menu-ico {
  display: inline-block;
  cursor: pointer;
}


.burger-line {
  width: 30px;
  height: 4px;
  margin: 5px 0;
  background-color: #ffffff;
}

/* .burger-menu.show{
  display: none;
} */

.bshow {
  display: none !important;
}

.container-con{
  display: flex;
  column-gap: 10px;
}
.exe{
  color: white;
}
